{% extends "base.html" %}{% import "macros.html" as macros %}{% import "af/_macros.html" as af %}
{% block title %}Reasons{% endblock %}{% block heading %}Reasons{% endblock %}
{% block subtitle %}{{ reasons|length }} distinct absence reasons recorded.{% endblock %}
{% block content %}
<section><div class="table-wrap"><table><thead><tr><th>Reason</th><th>Category</th><th class="num">Rows</th></tr></thead><tbody>
{% for row in reasons %}<tr><td>{{ af.af_entity_link('reason', row.reason, row.reason) }}</td><td>{{ row.category }}</td><td class="num">{{ '{:,}'.format(row.row_count) }}</td></tr>{% endfor %}
</tbody></table></div></section>
{% endblock %}
